
html{
  background:#ebebeb;
}

.movieContainer{
  width:80%;
  margin:auto;
}


.App {
  text-align: center;
}

.trendingMoviesContainer{
  display:flex;

}

.movie{
  display:flex;
  border-radius:5px;
  background:#fff;
}

.moviePoster{
  border-radius:5px 0 0 5px;
}

.movieInfo{
  flex-grow: 1;
  position:relative;
}

.movieTitle{
  width: 100%;
  background:#fff;
  padding:10px;
  border-radius:0 5px 0 0;
  border-bottom:1px solid #ebebeb;
}

.movieText{
  padding:20px;
  text-align: left;
}


.readMore{
  width: 100%;
  padding:10px;
  position:absolute;
  bottom:0;
  border-top:1px solid #ebebeb;
}

.singleMovieInfo{
  display:flex;
  align-items: center !important;
  justify-content: center !important;
  color:#fff;
  padding: 0 20%;
  
}

.singleMovieText{
  text-align: left;
  padding-left:30px;
  height: 100%;
}

.SingleMovieTitle{
  font-size:3em;
}

.SingleMoviePoster{
  display: flex;
  align-items: center;
}

